* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #ffffff;
    background-blend-mode: soft-light,screen;

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    box-sizing: content-box;
    background-color: rgb(116, 231, 202);
    align-content: end;
    padding: 30px;
}

nav ul li {
    list-style: none;
    float: inline-start;
    margin: auto;
    padding-inline: 10px;
    padding-right: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

p {
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}


.subtitulo {
    font-size: 15px;
    font-family: arial;
}

.mensaje1 {
    font-size: 15px;
    position: absolute;
    top:380px;
    left: 5%
}
.mensaje2 {
    font-size: 15px;
    position: absolute;
    top:380px;
    left: 35%
}
.mensaje3 {
    font-size: 15px;
    position: absolute;
    top:380px;
    left: 70%
}
.mensaje4 {
    font-size: 15px;
    position: absolute;
    top:400px;
    left: 5%
}
.mensaje5 {
    font-size: 15px;
    position: absolute;
    top:400px;
    left: 35%
}
.mensaje6 {
    font-size: 15px;
    position: absolute;
    top:400px;
    left: 70%
}
}
.ofertas {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding-top: 40px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    position: relative;
    
}
.titulo1 {
    font-size: 20px;
    font-family: helvetica;
    position: absolute;
    top:300px;
    left: 5%;
}
.titulo2 {
    font-size: 20px;
    font-family: helvetica;
    position: absolute;
    top:300px;
    left: 35%;
}
.titulo3 {
    font-size: 20px;
    font-family: helvetica;
    position: absolute;
    top:300px;
    left: 70%;
}

.subtitulo1 {
    font-size: 15px;
    font-family: arial;
    position: absolute;
    top:350px;
    left: 5%;   
}
.subtitulo2 {
    font-size: 15px;
    font-family: arial;
    position: absolute;
    top:350px;
    left: 35%;   
}
.subtitulo3 {
    font-size: 15px;
    font-family: arial;
    position: absolute;
    top:350px;
    left: 70%;   
}


h1 {
    background: rgb(235, 149, 38);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin: auto;
    padding: 0;
}

h2 {
    color: rgb(32, 32, 32);
    background: rgb(235, 149, 38);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
    text-align: center; 
    margin:auto;
    padding-top: 0;
}

.form_container {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 280px;
}

.form {
    background-color: whitesmoke;  
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

h3 {
    font-size: 15px;
    color: #828282;
}

/*calendario*/
label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

/*tabla*/
.table {
    padding-left: 30px;
    
}
  
.col {
     font-family: Arial;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #e9e7e7;
}

nav ol li {
    list-style: none;
}

a {
    color: #828282;
}

/* carrucel */
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 2500px;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
 li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
 li:nth-child(3) .slide-circulo {
color: #428bca;
}
#titulo {
width: 100%;
position: absolute;
padding: 0px;
margin: 0px auto;
text-align: center;
font-size: 27px;
color: rgba(255, 255, 255, 1);
font-family: 'Open Sans', sans-serif;
z-index: 9999;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
    -1px 0px 2px rgba(255, 255, 255, 0);